@media (max-width: 768px) {
html, body {
  width: 100% !important;
  max-width: 100vw !important;
  height: 100% !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  touch-action: pan-y !important;
  -webkit-text-size-adjust: 100% !important;
  
  margin: 0 !important;
  padding: 45px 0px 70px 0px!important;
  
  box-sizing: border-box !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
}

* { box-sizing: border-box !important; }



}